html {
    scroll-behavior: smooth;
    height: 100%;
    /* font-size: 0.83333333vw; */
}

body {
    font-family: "Styrene A Web";
    /* font-size: min(max(2vw, 13px), 16px); */
    font-size: 16px;
    min-width: 320px;
    height: 100%;
    position: relative;
    color: #000;
    background:#fff;
}

/* универсальные стили */

.mb-48 {
    margin-bottom: 48px;
}

.container {
    max-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 720px) {
    body {
        font-size: 14px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mb-48 {
        margin-bottom: 24px;
    }
}



/* frontpage */


.frontpage__title {
    font-size: 36px;
    margin-bottom: 40px;
}

@media (max-width: 720px) {
    .frontpage__title {
        font-size: 26px;
    margin-bottom: 1.9rem;    }    
}


